body {
    margin:0 auto; 
    text-align: center;
    background-color: #c5c5c4;
    font-family: 'Nanum Gothic', sans-serif;
}

.header { 
    background-color: #c5c5c4;
	padding: 10px;
}

.imagem {
    width: 400px;
    margin:auto;
    display: block;
}

