body {
    width:850px; 
    margin:0 auto; 
    display:center ; 
    border-radius:3px;
     margin-top:20px; 
     padding:10px;
     font-size: 30px;
     text-align: center;
     font-family: font-family: 'Nanum Gothic', sans-serif;
.imagem {
    width: 16em;
    height: 12em;
    margin-right: 1em;
}

.header { background-color: #c5c5c4;
	background-color: #c5c5c4;
	padding: 10px;
}